<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tony.coder"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- normal permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- Push SDK permission -->
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal">
    </permission>

    <uses-permission android:name="cn.bmob.permission.push"/>
    <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- UIL框架所需的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 通知震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- baidumap 所需的权限 -start -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
<!--    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
    </uses-permission>-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS">
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- baidumap 所需的权限 -end -->
    <application
        android:name=".im.CoderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".im.ui.activity.HomeActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            >
        </activity>
        <activity android:name=".im.ui.activity.LoginActivity">
        </activity>
        <activity android:name=".im.ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".im.ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- baidu map -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="6pmDLTeKWRSFhCcdEpkjsIiXA9EYujSV"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>

        <!-- IM聊天所需的Push start -->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter android:priority="2147483647"> <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".im.receiver.MessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>

        <!-- IM聊天所需的Push end -->


        <!-- 启动定时检测操作 -->
        <service android:name="cn.bmob.im.poll.BmobPollService">
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService"/>
            </intent-filter>
        </service>

        <activity android:name=".im.ui.activity.NewFriendActivity">
        </activity>
        <activity android:name=".im.ui.activity.ChatActivity">
        </activity>
        <activity android:name=".im.ui.activity.BaseActivity">
        </activity>
        <activity android:name=".im.ui.activity.SetMyInfoActivity">
        </activity>
        <activity android:name=".im.ui.activity.LocationActivity"/>
        <activity android:name=".im.ui.activity.BlackListActivity"/>
        <activity android:name=".im.ui.activity.UpdateInfoActivity"/>
        <activity android:name=".im.ui.activity.ImageBrowserActivity"/>
        <activity android:name=".im.ui.activity.NearPeopleActivity"/>
        <activity android:name=".im.ui.activity.ActivityBase"/>
        <activity android:name=".im.ui.activity.AddFriendActivity"/>
    </application>

</manifest>
